<%- include('../../layout/header') %>
<style>
    .avatar-container {
      text-align: center;
      margin-top: 50px;
    }
    .avatar-label {
      position: relative;
      display: inline-block;
      cursor: pointer;
      border-radius: 50%;
      overflow: hidden;
      width: 100px;
      height: 100px;
    }
    .avatar-input {
      display: none;
    }
    .avatar-preview {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      background-color: rgb(177, 175, 175);
    }
    .avatar-label::before {
      content: '+';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
      color: white;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-weight: bold;
    }
    .avatar-label:hover::before {
      background-color: rgba(0, 0, 0, 0.7);
      /* Đổi màu khi hover */
    }
  </style>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <h3 class="text-center title-2">Thêm mới nhân viên</h3>
        </div>
        <form method="post"  enctype="multipart/form-data">
          <div class="form-group">
            <div class="avatar-container">
              <label for="avatar" class="avatar-label ">
                <input id="avatar" name="file" type="file" class="avatar-input" accept="image/*"
                  value="avatar-defaul.jpg">
                <img id="avatarPreview" class="avatar-preview" src="/images/avatar/default-avatar.png">
              </label>
            </div>
            <div class="mb-3"><label class="form-label" for="basic-form-name">Họ và tên: <span
                  style="color: red">*</span></label>
                  <input required class="form-control" id="full_name" name="full_name" type="text" class="form-control"  placeholder="Họ và tên" /></div>
          </div>
          <div class="d-flex justify-content-between">
            <div class="mb-3"><label class="form-label" for="basic-form-name">Phòng ban:<span style="color: red">*</span></label>
              <select id="department" name="department" class="form-control form-select" required>
                <option value selected>Chọn phòng ban</option>
                <% departmens.forEach(function(departmen) { %>
                <option value="<%= departmen.id %>">
                  <%= departmen.name %>
                </option>
                <% }) %>
              </select>
            </div>
            <div class="mb-3"><label class="form-label" for="basic-form-name">Vị trí:<span style="color: red">*</span></label>
              <select id="position" name="position" class="form-control form-select" required>
                <option value selected>Chọn chức vụ</option>
                <% positions.forEach(function(position) { %>
                <option value="<%= position.id %>">
                  <%= position.name %>
                </option>
                <% }) %>
              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="number_phone" class="control-label form-label mb-1 text-content">Số điện thoại  <span style="color: red">*</span></label>
            <input id="number_phone" required placeholder="Số điện thoại" name="number_phone" type="tel" class="form-control">
            <span id="phoneError" style="color: red;" lang="vi"></span>
          </div>
          <div class="mb-3">
            <label for="email" class="control-label mb-1 text-content">Email <span style="color: red">*</span></label>
            <input id="email" name="email" placeholder="Địa chỉ Email" type="email" class="form-control" required>
            <span id="emailError" style="color: red;" lang="vi"></span>
          </div>
          <div class="mb-3">
            <label for="address" class="control-label mb-1 text-content">Địa chỉ</label>
            <textarea id="address" placeholder="Địa chỉ nhà" name="address" class="form-control" aria-required="false"
              aria-invalid="false"></textarea>
          </div>
          <div class="mb-3">
            <label for="description" class="control-label mb-1 text-content">Mô tả</label>
            <textarea id="description" placeholder="Mô tả" name="description" class="form-control"
              aria-required="false" aria-invalid="false"></textarea>
          </div>
          <div>
            <button id="btn-submit" type="submit" class="btn p-2 btn-primary" onclick="return canSubmit">
              Thêm mới nhân viên
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  let canSubmit = true;
const emailOld = '<%=  staffEmailOld %>';
console.log(Array(emailOld));
document.getElementById('email').oninput = function(e) {
      const emailInput = document.getElementById('email');
      const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      const emailValue = e.target.value;
      if (!emailPattern.test(emailInput.value)) {
       document.getElementById('emailError').textContent = 'Địa chỉ email không hợp lệ.';
       canSubmit = false;
      } 
      else if (emailOld.includes(emailValue)) {
        document.getElementById('emailError').textContent = 'Địa chỉ email đã tồn tại. Vui lòng sử dụng địa chỉ email khác.';
        canSubmit = false;
      } else {
        document.getElementById('emailError').textContent = '';
        canSubmit = true;
      }
    };
    const phoneOld = '<%=  staffPhoneOld %>';
    document.getElementById('number_phone').oninput = function(e) {
      const phoneInput = document.getElementById('number_phone');
      const phonePattern = /^(0|\+84)(3|5|7|8|9)\d{8}$/;
      const phoneValue = e.target.value;
      if (!phonePattern.test(phoneInput.value)) {
       document.getElementById('phoneError').textContent = 'Số điện thoại không hợp lệ.';
       canSubmit = false;
      } 
      else if (phoneOld.includes(phoneValue)) {
        document.getElementById('phoneError').textContent = 'Số điện thoại đã tồn tại. Vui lòng sử dụng số điện thoại khác.';
        canSubmit = false;
      } else {
        document.getElementById('phoneError').textContent = '';
        canSubmit = true;
      }
    };

    document.getElementById('avatar').addEventListener('change', function (event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function (e) {
          const avatarPreview = document.getElementById('avatarPreview');
          avatarPreview.src = e.target.result;
        };
        reader.readAsDataURL(file);
      }
    });
  </script>
<%- include('../../layout/footer') %>